.text-center
  = image_tag "https://image.tmdb.org/t/p/original/#{@movie.poster_path}", class: "img-fluid rounded", style: "height: 400px;"
.my-3.p-3.bg-white.rounded.box-shadow
  %h6.border-bottom.border-gray.pb-2.mb-0= @movie.title
  .media.text-muted.pt-3
    %p.media-body.pb-3.mb-0.small.lh-125.border-bottom.border-gray
      %strong.d-block.text-gray-dark Overview
      = @movie.overview
