!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title MovieSearch
    = stylesheet_link_tag 'application', media: 'all'
  %body
    %header.d-flex.justify-content-center.py-3.mb-4.border-bottom
      %span.fs-4=link_to "Search movies", movies_index_path, class: "text-dark text-decoration-none"
    %div
      = yield
